<div class="admin-layout">
  <nav class="sidebar-admin">
    <ul>
      <li routerLink="/admin/dashboard" routerLinkActive="active">
        <i class="bi bi-speedometer2"></i><span>Dashboard</span>
      </li>
      <li routerLink="/admin/flux" routerLinkActive="active">
        <i class="bi bi-diagram-3"></i><span>Flux</span>
      </li>
      <li routerLink="/admin/connecteurs" routerLinkActive="active">
        <i class="bi bi-plug"></i><span>Connecteurs</span>
      </li>
      <li routerLink="/admin/users" routerLinkActive="active">
        <i class="bi bi-people"></i><span>Utilisateurs</span>
      </li>
      <li routerLink="/admin/logs" routerLinkActive="active">
        <i class="bi bi-bar-chart"></i><span>Logs</span>
      </li>
      <li routerLink="/admin/flux-monitor" routerLinkActive="active">
        <i class="bi bi-bell"></i><span>Notifications</span>
      </li>
      <li routerLink="/admin/applications" routerLinkActive="active">
        <i class="bi bi-app"></i><span>Applications Open Source</span>
      </li>
      <li routerLink="/admin/application-modules" routerLinkActive="active">
        <i class="bi bi-puzzle"></i><span>Modules Applications</span>
      </li>
      <li [routerLink]="['/admin/erp']" routerLinkActive="active" style="cursor: pointer;">
        <i class="bi bi-building"></i><span>ERP</span>
      </li>
      <li routerLink="/admin/erp-modules" routerLinkActive="active">
        <i class="bi bi-gear"></i><span>Modules ERP</span>
      </li>
    </ul>
  </nav>
  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>
</div>
