.custom-save-btn {
  background: #22b455;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  box-shadow: none;
  transition: background 0.2s;
}
.custom-save-btn:hover, .custom-save-btn:focus {
  background: #178a3a;
  color: #fff;
}

.custom-delete-btn {
  background: #fff;
  color: #e74c3c;
  border: 2px solid #e74c3c;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  box-shadow: none;
  transition: background 0.2s, color 0.2s;
}
.custom-delete-btn:hover, .custom-delete-btn:focus {
  background: #e74c3c;
  color: #fff;
  border-color: #e74c3c;
}

