.admin-container {
    height: 100vh;
    background: linear-gradient(to bottom right, #003366, #e6f0ff);
  }
  
  .admin-card {
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    max-width: 500px;
    width: 100%;
  }
  
  .admin-logo {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  